services:
  tests:
    image: mcr.microsoft.com/dotnet/sdk:8.0
    working_dir: /src
    volumes:
      - ./:/src
    command: ["dotnet", "test", "-c", "Release"]

  banktransfer-api:
    build: .
    ports:
      - "5267:8080"
    environment:
      ASPNETCORE_ENVIRONMENT: "Development"
      # OJO: esto setea el connection string por variable de entorno
      ConnectionStrings__Default: "Data Source=/data/banktransfer.db"
    volumes:
      - banktransfer_data:/data
    depends_on:
      tests:
        condition: service_completed_successfully

volumes:
  banktransfer_data:
